@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <NavMenu />
    </header>

    <main class="page-content">
        @Body
    </main>

    <footer>
        <p>&copy; 2025 Darshit Patel - Portfolio</p>
    </footer>
</div>
