<nav class="navbar">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/about">About</NavLink></li>
        <li><NavLink href="/projects">Projects</NavLink></li>
    </ul>
</nav>
